swagger: "2.0"
info:
  version: "1.1"
  title: Twitter REST API
# during dev, should point to your local machine
host: api.twitter.com
# basePath prefixes all resource paths
basePath: /1.1
#
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
securityDefinitions:
  oauth:
    type: oauth2
    flow: implicit
    authorizationUrl: https://instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token
    scopes:
      basic: |
       to read any and all data related to a user (e.g. following/followed-by
        lists, photos, etc.) (granted by default)
security:
  - oauth:
    - basic
paths:
  /statuses/mentions_timeline:
    get:
      description: statuses of mentions_timeline
      parameters:
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: string
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: string
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: contributor_details
          in: query
          description: This parameter enhances the contributors element of the status response
          required: false
          type: string
        - name: include_entities
          in: query
          description: The entities node will be disincluded when set to false
          required: false
          type: string
      responses:
        "200":
          description: Success
  /statuses/user_timeline:
    get: 
      description: statuses of user_timeline
      parameters:
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: string
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: string
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: exclude_replies
          in: query
          description: This paramters will prevent from appearing in the returned timeline
          required: false
          type: boolean
        - name: contributor_details
          in: query
          description: This paramters enhances the contributors element of the status response to include the screen_name of the contributor
          required: false
          type: boolean
        - name: include_rts
          in: query
          description: When set to false, the timeline will strip any native retweet
          required: false
          type: boolean
      responses:
        "200":
          description: Success
  /statuses/home_timeline:
    get:
      description: statuses of home_timelines
      parameters:
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: string
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: exclude_replies
          in: query
          description: This paramters will prevent from appearing in the returned timeline
          required: false
          type: boolean
        - name: contributor_details
          in: query
          description: This paramters enhances the contributors element of the status response to include the screen_name of the contributor
          required: false
          type: boolean
      responses:
        "200":
          description: Success
  /statuses/retweets/{id}:
    get:
      description: Return up to 100 of the first retweets of a given tweet
      parameters:
        - name: id 
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      responses:
        "200":
          description: Success
  /statuses/show/{id}:
    get:
      description: Returns a single status, specified by the id parameter below
      parameters:
        - name: id
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: include_my_retweet
          in: query
          description: When set to either true, t or 1, any Tweets returned that have been retweeted by the authenticating
          required: true
          type: string
        - name: include_entities
          type: string
          in: query
          description: The entities node will be disincluded when set to false
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /statuses/destroy/{id}:
    post:
      description: Destroys the status specified by the required ID parameter
      parameters:
        - name: id
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /statuses/update:
    post:
      description: Updates the authenticating user's status
      parameters:
        - name: status
          in: query
          description: The text of your status update
          required: true
          type: string
        - name: in_reply_to_status_id
          in: query
          description: The ID of an existing status
          required: false
          type: string
        - name: lat
          in: query
          description: The latitude of the location
          required: false
          type: string 
        - name: long
          in: query
          description: The longitude of the location
          required: false
          type: string
        - name: place_id
          in: query
          description: A place in the world
          required: false
          type: string
        - name: display_coordinates
          in: query
          description: Whether or not to put a pin on the exact coordinates a tweet
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /statuses/retweets/{id}:
    post:
      description: Retweens a tweet
      parameters:
        - name: id
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /statuses/update_with_media:
    post:
      description: Updates the authenticating user's status and attaches media for upload
      parameters:
        - name: status
          in: query
          description: The text of your status update
          required: true
          type: string
        - name: media
          in: query
          description: Up to max_media_per_upload files may be specified in the request
          required: true
          type: string
        - name: possibly_sensitive
          in: query
          description: Set to true for content which may not be suitable for every audience
          required: false
          type: string
        - name: in_reply_to_status_id
          in: query
          description: The ID of an existing status
          required: false
          type: string
        - name: lat
          in: query
          description: The latitude of the location
          required: false
          type: string 
        - name: long
          in: query
          description: The longitude of the location
          required: false
          type: string
        - name: place_id
          in: query
          description: A place in the world
          required: false
          type: string
        - name: display_coordinates
          in: query
          description: Whether or not to put a pin on the exact coordinates a tweet
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /statuses/oembed:
    get:
      description: Returns information allowing the creation of an embedded representation
      parameters: 
        - name: id
          in: query
          description: The tweet/status id to return embed code for
          required: true
          type: string
        - name: url
          in: query
          description: The encoded URL of the Tweet status to be embedded
          required: true
          type: string
        - name: maxwidth
          in: query
          description: The maximum width in pixels that the embed should be rendered at 
          required: false
          type: string
        - name: hide_media
          in: query
          description: Specifies whether the embedded tweet should automatically show the original message in the case that the embedded Tweet is a reply
          required: false
          type: string
        - name: hide_thread
          in: query
          description: Specifies whether the embedded Tweet html should include a 'script' element pointing to widgets.js
          required: false
          type: string
        - name: align
          in: query
          description: Specifies whether the embedded Tweet should be left aligned
          required: false
          type: string
        - name: related
          in: query
          description: A value for the TWT related parameters
          required: false
          type: string
        - name: lang
          in: query
          description: Languages code for the rendered embed
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/list:
    get:
      description: 
      parameters:
        - name: screen_name 
          in: query 
          description: The screen name of the user for whom to return results for 
          required: true
          type: string
        - name: user_id
          in: query
          description: The ID of the user for whom to return results for 
          required: true
          type: string
      responses: 
        "200":
          description: Success
  /lists/statuses:
    get:
      description: 
      parameters:
        - name: list_id 
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query 
          description: You can identify a list by its slug instead of its numerical id 
          required: true
          type: string 
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug 
          required: false 
          type: string
        - name: owner_id
          in: query 
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: since_id
          in: query
          description: Returns results with an ID greater than the sepcified ID
          required: false 
          type: string 
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: 
          in: count
          description: query  
          required: Specifies the number of results to retrieve per page
          type: string
        - name: include_entities
          in: query 
          description: Entities are ON by default 
          required: false
          type: string
        - name: include_rts
          in: query
          description: When set to either true, t or 1, the list timeline will contain native retweets in addition to the standard stream of tweets 
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/members/destroy:
    get:
      description: 
      parameters:
        - name: list_id 
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list by its slug instrad of its numerical id 
          required: true 
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list 
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
        - name: owner_id
          in: query
          description: The is of the user who wons the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/memberships:
    get:
      description: 
      parameters:
        - name: user_id 
          in: query
          description: The id of the user for whom to return results for  
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to return results for
          required: false
          type: string
        - name: cursor
          in: query
          description: Breaks the results into pages
          required: false
          type: string
        - name: filter_to_owned_lists
          in: query
          description: When set to true, t or 1, will return just lists the authenticating user owns
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /lists/subscribers:
    get:
      description: 
      parameters:
        - name: list_id
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list by its slug insted of its numerical id  
          required: true
          type: string 
        - name: owner_screen_name
          in: query
          description: the screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: cursor
          in: query
          description: Breaks the results into pages 
          required: false
          type: string
        - name: include_entities
          in: query
          description: Wehn set to either true, t or 1
          required: false
          type: string
        - name: skip_status
          in: query
          description: When set to either true, t or 1 
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/subscribers/create:
    post:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: the screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/subscribers/show:
    get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list 
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
        - name: owner_id
          in: query
          description: The is of the user who wons the list being requested by a slug
          required: false
          type: string 
        - name: include_entities
          in: query
          description: Wehn set to either true, t or 1
          required: false
          type: string
        - name: skip_status
          in: query
          description: When set to either true, t or 1 
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/subscribers/destroy:
    get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: the screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/memebers/create_all:
    get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: the screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list 
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /list/memebers/show:
    get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list 
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: include_entities
          in: query
          description: Wehn set to either true, t or 1
          required: false
          type: string
        - name: skip_status
          in: query
          description: When set to either true, t or 1 
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /list/memebers:
    get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: include_entities
          in: query
          description: Wehn set to either true, t or 1
          required: false
          type: string
        - name: skip_status
          in: query
          description: When set to either true, t or 1 
          required: false
          type: string 
        - name: cursor
          in: query
          description: Breaks the results into pages 
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /list/memebers/create:
   post:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/destroy:
   post:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/update:
   post:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
        - name: name 
          in: query
          description: The name for the list 
          required: false
          type: string
        - name: mode
          in: query
          description: Whether your list is public or private 
          required: false
          type: string
        - name: description
          in: query
          description: The description to give the list 
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /lists/create:
   post:
      description: 
      parameters:
        - name: name 
          in: query
          description: The name for the list 
          required: false
          type: string
        - name: mode
          in: query
          description: Whether your list is public or private 
          required: false
          type: string
        - name: description
          in: query
          description: The description to give the list 
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /lists/show:
   get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success
  /lists/subscriptions:
   get:
      description: 
      parameters:
        - name: screen_name
          in: query
          description: The screen name of the user 
          required: false
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to return results for 
          required: false
          type: string
        - name: count
          in: query
          description: The amount of results to return per page 
          required: false
          type: string
        - name: cursor
          in: query
          description: Breaks the results into pages 
          required: false
          type: string
      responses: 
        "200":
          description: Success
  /list/members/destroy_all:
   get:
      description: 
      parameters:
        - name: list_id  
          in: query
          description: The numerical id of the list 
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list being requested by a slug 
          required: true
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list 
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list 
          required: false
          type: string 
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string 
      responses: 
        "200":
          description: Success  
  /direct_messages/sent:
    get:
      description: return 20 most recent direct messages sent
      parameters:
        - name: since_id
          in: query
          required: false
          type: string
        - name: max_id
          in: query
          required: false
          type: string
        - name: count
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: false
          type: string
        - name: include_entities
          in: query
          required: false
          type: string
      responses:
        200:
          description: OK
          
  /direct_messages/show:
    get:
      description: returns a single direct message specified by an id
      parameters:
        - name: id
          in: query
          description: ID of direct message
          type: string
          required: true
      responses:
        200:
          description: OK
    
  /search/tweets:
    get:
      description: returns collection of relevant Tweets matching query
      parameters:
      - name: q
        in: query
        description: URL-encoded search query of 500 characters max
        type: string
        required: true
      - name: geocode
        in: query
        description: returns tweets by users located within given radius
        type: string
        required: false
      - name: lang
        in: query
        description: restricts tweets to a given language
        type: string
        required: false
      - name: locale
        in: query
        description: language of query you are sending
        type: string
        required: false
      - name: result_type
        in: query
        description: specifies type of search results you prefer
        type: string
        required: false
      - name: count
        in: query
        description: number of tweets to return
        type: string
      - name: until
        in: query
        description: returns tweets created before given date
        type: string
      - name: since_id
        in: query
        description: return results with ID greater than specified
        type: string
      - name: max_id
        in: query
        description: returns results with an ID less than/equal to specified ID
        type: string
      - name: include_entities
        in: query
        description: whether or not to include entities
        type: string
      - name: callback
        in: query
        description: response will use the callback with given name
        type: string
      responses:
        200:
          description: OK
    
  /direct_messages:
    get:
      description: return 20 most recent direct messages sent to user
      parameters:
      - name: since_id
        in: query
        description: return results with ID greater than specified
        type: string
      - name: max_id
        in: query
        description: returns results with an ID less than/equal to specified ID
        type: string
      - name: include_entities
        in: query
        description: whether or not to include entities
        type: string
      - name: skip_status
        in: query
        description: whether or not to include status
        type: string
      responses:
        200:
          description: OK
          
  /direct_messages/destroy:
    post:
      description: destroys direct messages specified in required ID
      parameters:
      - name: id
        in: query
        description: ID of direct message to delete
        type: string
        required: true
      - name: include_entities
        in: query
        description: whether or not to include entities
        type: string
      responses:
        200:
          description: OK
  
  /direct_messages/new:
    post:
      description: sends a new direct message to specified user
      parameters:
      - name: user_id
        in: query
        description: description
        type: string
        required: true
      - name: screen_name
        in: query
        description: screen name of user receiving message
        type: string
      - name: text
        in: query
        description: text of your direct message
        type: string
        required: true
      responses:
        200:
          description: OK
    
  /friends/ids:
    get:
      description: returns a cursored collection of user IDs followed by user
      parameters:
      - name: user_id
        in: query
        description: ID of user for whom to return results for
        type: string
      - name: screen_name
        in: query
        description: screen name of user for whom to return results for
        type: string
      - name: cursor
        in: query
        description: causes list of connections to be broken in pages
        type: string
      - name: stringify_ids
        in: query
        description: IDs converted to strings
        type: string
      - name: count
        in: query
        description: number of IDs to attempt retrieval of
        type: string
      responses:
        200:
          description: OK
    
  /followers/ids:
    get:
      description: returns a cursored collection of user IDs following the user
      parameters:
      - name: user_id
        in: query
        description: ID of user for whom to return results for
        type: string
      - name: screen_name
        in: query
        description: screen name of user for whom to return results for
        type: string
      - name: cursor
        in: query
        description: causes list of connections to be broken in pages
        type: string
      - name: stringify_ids
        in: query
        description: IDs converted to strings
        type: string
      - name: count
        in: query
        description: number of IDs to attempt retrieval of
        type: string
      responses:
        200:
          description: OK
      
  /friendships/incoming:
    get:
      description: returns collection of IDs of users with pending follow request
      parameters:
      - name: cursor
        in: query
        description: causes list of connections to be broken in pages
        type: string
      - name: stringify_ids
        in: query
        description: IDs converted to strings
        type: string
      responses:
        200:
          description: OK
          
  /friendships/outgoing:
    get:
      description: returns collection of IDs of users with pending follow request from the user
      parameters:
      - name: cursor
        in: query
        description: causes list of connections to be broken in pages
        type: string
      - name: stringify_ids
        in: query
        description: IDs converted to strings
        type: string
      responses:
        200:
          description: OK
    
  /friendships/create:
    post:
      description: allows users to follow user sepcified by ID
      parameters:
      - name: screen_name
        in: query
        description: screen name of user for whom to befriend
        type: string
      - name: user_id
        in: query
        description: ID of user for whom to befriend
        type: string
      - name: follow
        in: query
        description: enable notifications for target user
        type: string
      responses:
        200:
          description: OK
        
  /friendships/destroy:
    post:
      description: allows user to unfollow user psecified by ID
      parameters:
      - name: screen_name
        in: query
        description: screen name of user for whom to befriend
        type: string
        required: true
      - name: user_id
        in: query
        description: ID of user for whom to befriend
        type: string
        required: true
      responses:
        200:
          description: OK
  
  /friendships/update:
    post:
      description: Allows one to enable or disable settings for specified user
      parameters:
      - name: screen_name
        in: query
        description: screen name of user for whom to befriend
        type: string
        required: true
      - name: user_id
        in: query
        description: ID of user for whom to befriend
        type: string
        required: true
      - name: device
        in: query
        description: enable/disable device notifications for user
        type: string
        required: true
      - name: retweets
        in: query
        description: enable/disable retweets from target user
        type: string
        required: true
      responses:
        200:
          description: OK
    
  /friendships/show:
    get:
      description: returns detailed info about relationship between two users
      parameters:
      - name: source_id
        in: query
        description: user id of subject user
        type: string
      - name: source_screen_name
        in: query
        description: screen_name of subject user
        type: string
      - name: target_id
        in: query
        description: user id of target user
        type: string
        required: true
      - name: target_screen_name
        in: query
        description: screen name of target user
        type: string
        required: true
      responses:
        200:
          description: OK
          
  /account/settings:
    get:
      summary: returns settings for user
      description: returns settings for user
      responses:
        200:
          description: OK
    post:
      summary: updates user's settings
      description: updates user's settings
      parameters:
      - name: trend_location_woeid
        in: query
        description: the Yahoo! Where On Earth ID to user as defaul tend location
        type: string
      - name: sleep_time_enabled
        in: query
        description: enables/disables sleep time, silencing notifications
        type: string
      - name: start_sleep_time
        in: query
        description: the hour that sleep time should begin if enabled
        type: string
      - name: end_sleep_time
        in: query
        description: the hour that sleep time should end if enabled
        type: string
      - name: time_zone
        in: query
        description: timezone dates and times should be displayed in
        type: string
      - name: lang
        in: query
        description: language which Twitter should render in for the user
        type: string
      responses:
        200:
          description: OK
  
  /account/update_delivery_device:
    post:
      summary: sets which device Twitter delivers updates to for user
      description: sets which device Twitter delivers updates to for user
      parameters:
      - name: device
        in: query
        description: must be one of sms, none
        type: string
        required: true
      - name: include_entities
        in: query
        description: whether or not to include entities
        type: string
      responses:
        200:
          description: OK
          
  /account/update_profile:
    post:
      summary: sets values that users ar eable to set under Account tab
      description: sets values that users ar eable to set under Account tab
      parameters:
      - name: name
        in: query
        description: full name of profile
        type: string
      - name: url
        in: query
        description: url associated with profile
        type: string
      - name: location
        in: query
        description: city or country describing where user of account is.
        type: string
      - name: description
        in: query
        description: a description of user owning account
        type: string
      - name: include_entities
        in: query
        description: whether or not to include entities
        type: string
      - name: skip_status
        in: query
        description: whether or not to include statuses in response
        type: string
      responses:
        200:
          description: OK
    
  /account/update_profile_background_image:
    post:
      summary: 
      description: 
      responses:
        200:
          description: OK
definitions:
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
