swagger: "2.0"
info:
  version: "1.1"
  title: Twitter REST API
# during dev, should point to your local machine
host: api.twitter.com
# basePath prefixes all resource paths
basePath: /1.1
#
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
securityDefinitions:
  oauth:
    type: oauth2
    flow: implicit
    authorizationUrl: https://instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token
    scopes:
      basic: |
       to read any and all data related to a user (e.g. following/followed-by
        lists, photos, etc.) (granted by default)
security:
  - oauth:
    - basic
paths:
  /statuses/mentions_timeline:
    get:
      description: statuses of mentions_timeline
      parameters:
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: integer
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: integer
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: integer
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: contributor_details
          in: query
          description: This parameter enhances the contributors element of the status response
          required: false
          type: string
        - name: include_entities
          in: query
          description: The entities node will be disincluded when set to false
          required: false
          type: string
      responses:
        "200":
          description: Success
  /statuses/user_timeline:
    get: 
      description: statuses of user_timeline
      parameters:
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: integer
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: integer
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: integer
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: exclude_replies
          in: query
          description: This paramters will prevent from appearing in the returned timeline
          required: false
          type: boolean
        - name: contributor_details
          in: query
          description: This paramters enhances the contributors element of the status response to include the screen_name of the contributor
          required: false
          type: boolean
        - name: include_rts
          in: query
          description: When set to false, the timeline will strip any native retweet
          required: false
          type: boolean
      responses:
        "200":
          description: Success
  /statuses/home_timeline:
    get:
      description: 
          
          
      
  /hello:
    # binds a127 app logic to a route
    x-swagger-router-controller: hello_world
    get:
      description: Returns 'Hello' to the caller
      # used as the method name of the controller
      operationId: hello
      parameters:
        - name: name
          in: query
          description: The name of the person to whom to say hello
          required: false
          type: string
      responses:
        "200":
          description: Success
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
# complex objects have schema definitions
definitions:
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
